---
import "../styles/services.css";
import Layout from '../layouts/Layout.astro';

// Cargar el archivo JSON desde el directorio local en el lado del servidor
const servicesData = await Astro.glob('../../public/data/services.json');
const services = servicesData[0].services;
---
<Layout>
  <section class="services">
    <h1 class="services__title">Nuestros Servicios</h1>
    <div class="services__grid">
      {services.map((service) => (
        <div class="service-card" key={service.servicio}>
          <img src={service.imagen} alt={service.servicio} class="service-card__image" />
          <h2 class="service-card__title">{service.servicio}</h2>
          <p class="service-card__detalles">{service.detalles}</p>
          <p class="service-card__duracion"><strong>Duración:</strong> {service.duracion}</p>
          <p class="service-card__precio"><strong>Precio:</strong> {service.precio}</p>
          <details class="service-card__details">
            <summary>Más Información</summary>
            <p><strong>Recomendaciones:</strong> {service.recomendaciones}</p>
            <p><strong>Clientes Ideales:</strong> {service.clientes}</p>
            {service.tecnicas && (
              <div class="service-card__tecnicas">
                <h3>Técnicas de Extensiones de Pestañas</h3>
                <ul>
                  {service.tecnicas.map((technique) => (
                    <li key={technique.nombre}>
                      <img src={technique.imagen} alt={technique.nombre} class="service-card__tech-image" />
                      <strong>{technique.nombre}:</strong> {technique.descripcion} <br />
                      <strong>Precio:</strong> {technique.precio}, <strong>Retoque:</strong> {technique.precioRetoque}
                    </li>
                  ))}
                </ul>
              </div>
            )}
            {service.subservicios && (
              <div class="service-card__subservicios">
                <h3>Subservicios de Depilación y Cejas</h3>
                <ul>
                  {service.subservicios.map((sub) => (
                    <li key={sub.nombre}>
                      <img src={sub.imagen} alt={sub.nombre} class="service-card__sub-image" />
                      <strong>{sub.nombre}:</strong> {sub.detalles} <br />
                      <strong>Duración:</strong> {sub.duracion}, <strong>Precio:</strong> {sub.precio}
                    </li>
                  ))}
                </ul>
              </div>
            )}
          </details>
        </div>
      ))}
    </div>
  </section>
</Layout>
